$padding: 1em;
$blueColor: #755cde;
$orangeColor: #f6a560;
$pinkColor: #f39e9e;
$greenColor: #61c4b7;
$purpleColor: #552049;
$tomatoColor: #eb7565;
$blackColor: #030303;
$grayColor: #7a746e;
$whiteColor: #fff7f0;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@mixin linkBtn($backgroundColor, $hoverColor) {
  padding: 0.7em $padding;
  display: inline-block;
  color: #ffffff;
  background: $backgroundColor;
  border-radius: 100vw;
  text-decoration: none;
  font-size: 0.9em;
  &:hover {
    background: $hoverColor;
  }
}

@mixin backgroudImage($url, $backgroundColor) {
  background: url($url) no-repeat, $backgroundColor;
  background-position: 85% 20%;
}

img {
  max-width: 100%;
}
body {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  svg {
    height: 50px;
    width: 50px;
  }
  div.container {
    padding: $padding;
  }
  nav.navigation,
  footer {
    div.container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        @include linkBtn($blackColor, $blueColor);
      }
    }
  }

  header.jumbotron {
    text-align: center;
    h1 {
      //   line-height: 70px;
      margin-bottom: $padding;
    }
    p {
      line-height: 28px;
    }
  }
  main.main {
    div.container {
      &.apps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 1164px;
        gap: 15px;
        div.offer {
          color: $whiteColor;
          font-weight: 600;
          padding-left: $padding;
          padding-bottom: $padding;
          border-radius: 15px;
          display: flex;
          align-items: flex-end;
          background-position: 90% 20%;
          &.graphic-design {
            @include backgroudImage(
              "./assets/pattern-graphic-design.svg",
              $blueColor
            );
            grid-column: 1 / 3;
            grid-row: 1 / 3;
          }

          &.ui-ux {
            @include backgroudImage("./assets/pattern-ui-ux.svg", $orangeColor);
            grid-column: 1 / 2;
            grid-row: 3 / 4;
          }

          &.apps {
            @include backgroudImage("./assets/pattern-apps.svg", $pinkColor);
            grid-column: 2 / 3;
            grid-row: 3 / 4;
          }
          &.illustrations {
            @include backgroudImage(
              "./assets/pattern-illustrations.svg",
              $tomatoColor
            );
            grid-column: 1 / 3;
            grid-row: 4 / 5;
          }
          &.photography {
            @include backgroudImage(
              "./assets/pattern-photography.svg",
              $greenColor
            );
            grid-column: 1 / 3;
            grid-row: 5 / 6;
          }
          &.motion {
            @include backgroudImage(
              "./assets/pattern-motion-graphics.svg",
              $purpleColor
            );
            grid-column: 1 / 3;
            grid-row: 6 / 7;
          }
        }
      }
    }

    section.about-me {
      display: grid;
      grid-template-columns: 1fr;

      aside {
        padding: $padding 1.5em;
        text-align: center;

        &.writeup {
          h1 {
            margin-bottom: $padding;
          }
          p {
            line-height: 28px;
            margin-bottom: $padding;
          }

          a {
            @include linkBtn($tomatoColor, $orangeColor);
          }
        }
      }
    }
  }
}
